{% extends "layouts/main.html" %}

{% block pageTitle %}
  What are your UK property expenses?
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">What are your UK property expenses?</h1>

<form action="/mtd/uk-property-expenses-answer" method="post">

  <div class="govuk-form-group">
    <label class="govuk-label" for="expenses">Enter total expenses</label>
    <input class="govuk-input" id="expenses" name="expenses" type="number">
  </div>

  <button class="govuk-button" type="submit">Continue</button>
</form>

{% endblock %}
