{% extends "layouts/main.html" %}

{% block pageTitle %}
  Cannot start yet – Quarterly update – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/quarterly-update"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter">
    {% include "includes/side-nav.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">You cannot start this task yet</h1>

    <p class="govuk-body">We need to finish verifying your existing records before you can continue.</p>
    <p class="govuk-body">We will notify you when you can proceed.</p>

  </div>

</div>
{% endblock %}
