{% extends "layouts/main.html" %}

{% block pageTitle %}
  Tenancy records – Quarterly update – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/quarterly-update"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/side-nav.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">Add tenancy records</h1>

    <form method="post" action="/quarterly/tenancy/save">

      {{ govukInput({
        label: { text: "Tenant name" },
        id: "tenant-name",
        name: "tenant-name"
      }) }}

      {{ govukInput({
        label: { text: "Tenancy start date" },
        hint: { text: "For example, 01/08/2025" },
        id: "start-date",
        name: "start-date"
      }) }}

      {{ govukInput({
        label: { text: "Tenancy end date (optional)" },
        id: "end-date",
        name: "end-date"
      }) }}

      {{ govukInput({
        label: { text: "Monthly rent amount (£)" },
        id: "rent",
        name: "rent"
      }) }}

      <button class="govuk-button" type="submit">Save and continue</button>

    </form>

  </div>
</div>
{% endblock %}
