{% extends "layouts/main.html" %}
{% block pageTitle %}Your MTD property tasks{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Your tasks</h1>
<p class="govuk-body">Some text here</p>

<ul class="govuk-task-list">
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="/mtd-complex/step1-property-type" aria-describedby="property-type-status">
        Provide property type
      </a>
    </div>
    <div class="govuk-task-list__status" id="property-type-status">
        Completed
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
        Report property income
      </a>
    </div>
    <div class="govuk-task-list__status" id="company-details-2-status">
          Completed
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-3-hint company-details-3-status">
        Enter property expenses
      </a>
      <div id="company-details-3-hint" class="govuk-task-list__hint">
        Some text
      </div>
    </div>
    <div class="govuk-task-list__status" id="company-details-3-status">
     Completed
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-4-status">
       Check your answers
      </a>
    </div>
    <div class="govuk-task-list__status" id="company-details-4-status">
      Completed
    </div>
  </li>
</ul>

<form action="/mtd-complex/confirmation" method="post">
  <button class="govuk-button">Confirm and submit</button>
</form>

{% endblock %}
