{% extends "layouts/main.html" %} {% block pageTitle %} {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Welcome to the {{ serviceName }}</h1>

    <p class="govuk-body">
      Book your imaginary trip to space using this prototype service.
    </p>
    <a
      class="govuk-button"
      href="./spacetravel/choose-destination.html"
      data-module="govuk-button"
    >
      Start now
    </a>
  </div>
</div>

{% endblock %}
